
/*
input[type=password] {
    padding: 3px 5px;
    margin: 2px 5px;
    box-shadow: inset 0px 0px 3px #AAA;
    -webkit-box-shadow: inset 0px 0px 3px #AAA;
    -moz-box-shadow: inset 0px 0px 3px #AAA;
    border: 1px solid #AAA;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
}*/

input[type="text"], input[type=password], select, textarea{
    font-family: Segoe-UI;
    color: #555555;
    padding: 5px;   
    border: 1px solid #BBB;

    background: linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 0 4px #BBB;
    -webkit-box-shadow: inset 0 0 4px #BBB;
    box-shadow: inset 0 0 4px #BBB;
}

input[type="text"]:hover, input[type=password]:hover , select:hover, textarea:hover{
    border: 1px solid #cccccc;
}


input[type="text"]:focus, input[type=password]:focus , select:focus, textarea:focus{
    box-shadow:0 0 2px #FFFE00;
}


input[type=submit], input[type=reset] {
    font-size: 10pt !important;
    border: 1px solid #AAA;
    padding-top: 13px !important;
    padding-bottom: 10px !important;
}


label {
    font-family: Segoe-UI;
    font-size: 10pt;
    padding: 5px;
    color:#2E2E2E;
    display: block;
}



.window {
    border: 1px solid #C7C7C7;
    box-shadow: 0px 0px 15px #BBB;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #0098E1;
}

.window h3 {
    font-family: Segoe-UI;    
    text-align: center;
    font-weight: 100;
    font-style: normal !important;
    color: #F0F0F0;
    margin-top: 10px;
    text-shadow: 0px 0px 1px #EFEFEF;
}


.win-cont {
    padding: 10px 10px;
    background-color: #FFF;
    border: 1px solid #C7C7C7;
    //border-bottom-right-radius: 8px;
    //border-bottom-left-radius: 8px;
}

/*******************************************
* Modificaciones Para JQuery UI
********************************************/

.ui-spinner {
    font-family: Segoe-UI !important; 
    font-size: 10pt !important;
}




/*************************************
 *Funciones  Auxiliares
 * ******************************* */

.mini {
    font-size:10px;
    padding-left:10px;
    padding-right:10px;
}

.text-der {
    text-align: right;
}

.der{
    width:49%;
    float:right;
    position:relative;
}

.izq{
    width:49%;
    float:left;
    position:relative;
}


.label {
    font-weight: bold;
    border: 0 !important;
}
