.menu  {
    list-style-type: none;
    /*margin: 0 auto; /* si queremos centrarlo */
    padding: 0;
    /* la altura y su ancho dependerán de los textos */
    height: 40px; 
    /* el color de fondo */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */


    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

/* cada item del menu */
.menu li {
    display: block;
    float: left; /* la lista se ve horizontal */
    height: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.menu li a {
    color: #3F3F3F;
    display: block;
    font-family: Segoe-UI, Tahoma;
    font-size: 10pt;
    font-weight: 100;
    line-height: 28px;
    padding: 6px 14px;
    margin: 0px 2px;
    min-width: 50px;
    text-decoration: none;
    /* animamos el cambio de color de los textos */
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
  /* eliminamos los bordes del primer y el último */
    .menu li:first-child a { border-left: none; }
    .menu li:last-child a{ border-right: none; }
  /* efecto hover cambia el color */
  
.menu li:hover > a {
    background-color: #FAFAFA;
    //color: #0099ff;
    //font-weight:bold;
}




  /* los submenús */
.menu ul {
    left: 0;
    margin: 0;
    opacity: 0; /* no son visibles */
    position: absolute;
    top: 40px; /* se ubican debajo del enlace principal */
    background-color: #FAFAFA; /* el color de fondo */
    
    /* animamos su visibildiad */
    -moz-transition: opacity .25s ease .1s;
    -webkit-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}
  /* son visibes al poner el cursor encima */
.menu li:hover > ul { 
    opacity: 1;
    border-left: 1px solid #AAA;
    border-right: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    background: #EAEAEA;
}

/* cada un ode los items de los submenús */
.menu ul li {
    height: 0; /* no son visibles */
    overflow: hidden;
    padding: 0;
    
    /* animamos su visibildiad */
    -moz-transition: height .25s ease .1s;
    -webkit-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}
.menu li:hover > ul li {
    height: 36px; /* los mostramos */
    overflow: visible;
    padding: 0;
    background-color: #FAFAFA;
}


.menu ul li a {
    border: none;
    margin: 0;
    color: #333;
    background-color: #EAEAEA;
    /* el ancho dependerá de los textos a utilizar */
    padding: 5px 20px;
    width: 150px;
}


/* el último n otiene un borde */
.menu ul li:last-child a {
    border: 1 px solid #AAA;
}


/****************************/
/* Sub Menu */
.menu  {
    list-style-type: none;
    padding: 0;
}

.submenu li a {
    text-decoration: None;
    font-size: 10pt;
    color: #444;
    background-color: #E5E5E5;
    width: 180px;
    display: block;
    padding: 8px 10px;
    margin-bottom: 3px;
}

.submenu li a:hover {
    background-color: #CCC;
}

.submenu li h3 {
    font-size: 12pt;
}


.sub-menu h3 {
    font-family: Segoe-UI;
    font-size: 10pt;
    font-weight: bold;

}

.ui-accordion-content {
    padding: 3px 5px !important;
}

.child-menu {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

.child-menu a {
    font-size: 10pt;
    text-decoration: None;
    display: block;
    padding: 5px 5px;
    margin-bottom: 2px;
    border: 1px solid #AAA;
}

.child-menu a:hover {
    background-color: #E5E5E5;
}